@page "/transactions"
@using FrontEnd.Pages.Shared
@using Models.DTOs
@inherits TransactionsBase

<h3>Transactions</h3>

<Table>
	<Columns>
		<Column Header="Date" />
		<Column Header="Description" />
		<Column class="text-end" Header="Amount" />
		<Column class="text-end" Header="Balance" />
		<Column class="text-center" Header="Actions" />
	</Columns>
</Table>

@if (Transactions == null)
{
	<h3>No data...</h3>
}
else
{
	<table id="transactionsTable" class="table table-striped sortable">
		<thead>
			<tr>
				<th>Date</th>
				<th>Description</th>
				<th class="text-end">Amount</th>
				<th class="text-end">Balance</th>
				<th class="text-center">Actions </th>
			</tr>
        </thead>
        <tbody>
			@if (!Transactions.Any())
			{
				<tr>
					<td class="text-center" colspan=5> Loading... </td>
				</tr>
			}
			else
			{
				@for (int i = 0; i < Transactions.Count(); i++)
				{
					int Id = @Transactions[i].Id;
					<tr class="item">
						<td sorttable_customkey="@Transactions[i].Date">
							@Transactions[i].Date.ToString("dddd, MMMM dd, yyyy")
						</td>
						<td>
							@Transactions[i].Description
						</td>
						<td class="text-end" style="color:@(Transactions[i].Amount > 0 ? "green" : "red")">
							$@Math.Abs(Transactions[i].Amount).ToString("N2")
						</td>
						<td class="text-end">
							$@Transactions[i].Balance.ToString("N2")
						</td>
						<td class="text-center">
							<i class="bi bi-dash-lg btn btn-danger btn-sm rounded-circle" @onclick="@(() => Delete(Id))"></i>
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
}

<script>
	sorttable.makeSortable(document.getElementById('transactionsTable'));
</script>